@import "tailwindcss";

@theme {
  --color-precipitate-white: #f8fafc;
  --color-precipitate-yellow: #fde047;
  --color-precipitate-redbrown: #991b1b;
  --color-precipitate-green: #22c55e;
  --color-precipitate-black: #171717;
  --color-precipitate-gray: #52525b;
  --color-precipitate-red: #ef4444;
  
  --color-solution-blue: #3b82f6;
  --color-solution-yellow: #eab308;
  --color-solution-orange: #f97316;
  --color-solution-purple: #a855f7;
  --color-solution-red: #dc2626;
  --color-solution-clear: #e2e8f0;
}
